.step {
    opacity: 0.2;
    transition: all 1s;
    /* width: 100vw; */
    /* max-width: 1024px; */
    background-color: rgba(0,0,0,0.0);
    /* color: white; */
    /* -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 0px 1px 4px #23430C; */
    /* height: 80vh; */
    /* background-color: rgba(0,0,0,0.1); */
    /* background-image: url("/img/bo.gif"); */
    background-size: contain;
    /* backdrop-filter: opacity(5%); */
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
  }
  .step::before {    
    content: "";
    /* background-image: url("/img/bo.gif"); */
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.175;
    /* backdrop-filter:blur(30%) ; */
}
  .step.active {
    opacity: 1;
    color:white !important; 
    -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 0px 1px 4px #23430C;
  }

  body { 
margin: 0;
/* transition: background-image 1s; */


   }
  
  
  /* center the blockquote in the page */
  .blockquote-wrapper {
     display: flex;
     height: 100%;
     /* width: 100%; */
     padding: 0 20px;
  }
  
  /* Blockquote main style */
  .blockquote {
      position: relative;
      font-family: Poppins;
      font-weight: 800;
      /* color: #ffffff; */
      padding: 30px 0;
      width: 100%;
      /* max-width: 500px; */
      z-index: 1;
      margin: 80px auto;
      align-self: center;
      border-top: solid 1px;
      border-bottom: solid 1px;
  }
  
  /* Blockquote header */
  .blockquote h1 {
      position: relative;
      /* color: #FFFFFF; */
      font-size: 30px;
      font-weight: 600;
      line-height: 1.1;
      margin: 0;
  }
  
  /* Blockquote right double quotes */
  .blockquote:after {
      position: absolute;
      content: "”";
      color: rgba(255, 255, 255, 1);
      font-size: 10rem;
      line-height: 0;
      bottom: -43px;
      right: 30px;
  }
  

  /* @media all and (min-width: 600px) {
      .blockquote h1 {
          font-size: 40px;
     }
     .step{
        width: 800px;
     }
  
  } */
  
  @media all and (max-width: 600px) {
    .blockquote h1 {
        font-size:35px;
   }
   .step{
      width: calc(100vw - 20px) !important;
      /* width: 800px; */
   }

}
  /* Blockquote subheader */
  .blockquote h4 {
      position: relative;
      color: #292a2b;
      /* font-size: 2rem; */
      font-weight: normal;
      line-height: 1;
      margin: 0;
      padding-top: 20px;
      z-index: 1;
  }


.button-box{
  position: fixed;
  bottom: 0;
  /* z-index: 1000; */
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.button-box .button{
  width: fit-content;
  height: 40px;
  padding: 0 30px;
  margin:10px;
  font-size: 20px;
  font-family: Poppins;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  font-weight: 600;
  /* background-color: rgba(0,0,0,0.0); */
  border: none;
  
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}


  
.queButton{
  background:radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
  border-radius: 30px;
  border: none;
  /* box-shadow:  */
}
